.rangeSlider {
  --rangeInputColor: rgba(0, 0, 0, 0.8);
  --rangeInputTrackColor: #fff;
  --rangeInputWidth: 3.75rem;
  --rangeInputHeight: calc(2.666666667 * var(--rangeInputWidth));
  --rangeInputIconSize: calc(var(--rangeInputWidth) / 3);
  --rangeValueTextColor: #fff;

  background-color: var(--rangeInputColor);
  border-radius: calc(var(--rangeInputWidth) / 6);
  overflow: hidden;
  width: var(--rangeInputWidth);
  height: var(--rangeInputHeight);
  margin: 0;
  position: relative;
  cursor: ns-resize;
  transition: transform ease-in-out 200ms;
}

.rangeSlider__track {
  width: 100%;
  height: 100%;
  transform: translateY(calc(100% - var(--rangeInputValue)));
  background-color: var(--rangeInputTrackColor);
  position: absolute;
  bottom: 0;
  left: 0;
}

.rangeSlider__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.rangeSlider__value {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: system-ui;
  font-size: calc(var(--rangeInputWidth) / 3);
  mix-blend-mode: difference;
  color: var(--rangeValueTextColor);
  transform: translateY(50%);
}

.rangeSlider__icon {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--rangeInputIconSize);
  height: var(--rangeInputIconSize);
  background-repeat: no-repeat;
  background-size: 100% auto;
  mix-blend-mode: difference;
}

.rangeSlider__icon[data-type="brightness"] {
  background-image: url(./brightness.svg);
}

[data-icon="10"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize)); }
[data-icon="20"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -1); }
[data-icon="30"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -2); }
[data-icon="40"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -3); }
[data-icon="50"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -4); }
[data-icon="60"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -5); }
[data-icon="70"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -6); }
[data-icon="80"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -7); }
[data-icon="90"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -8); }
[data-icon="100"] .rangeSlider__icon { background-position-y: calc(var(--rangeInputIconSize) * -9); }
